* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #EDEDED;
}

.body-container {
    min-height: 100vh;
    width: 100%;
    background: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.main-container {
    border: 2px solid #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
    background-color: #1E1E1E;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
}

.main-container ul {
    padding-left: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.main-container ul li {
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    gap: 0.5rem;
    justify-content: space-between;
    background-color: #2C2C2C;
    padding: 0.75rem;
    border-radius: 5px;
}

.list-items p {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.add-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
}

.main-container input {
    color: #121212;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #3A3A3A;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #5C5C5C;
    cursor: pointer;
}

.addButton {
    margin-left: 0;
}

.task-button {
    margin-left: 0.5rem;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .add-todo {
        flex-direction: row;
        justify-content: center;
    }

    .addButton {
        margin-left: 1rem;
    }

    .main-container h1 {
        font-size: 3rem;
    }

    .main-container ul {
        font-size: 2rem;
    }

    .list-items p {
        font-size: 2rem;
    }
}
